body {
    background: url('/static/img/bg2.jpg');
    height: 100%;
    background-attachment: fixed;
}

.title-main {
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    margin: 15% 5%;
    border-radius: 7px;
    padding: 30px;
}

